a {
    color: #fff;
    align-items: center;
    text-decoration: none;
}

button {
    background-color: rgb(64, 64, 247);
    border-bottom: none;
    border-color: rgb(64, 64, 247);
    padding: 9px;
}

nav {
    background-color: rgb(214,175,220);
    cursor: hand;
    margin: 70px 400px;
}

nav a {
    font-size: 17px;
    font-family: 'Times New Roman', Times, serif;
}

ul {
    display: flex;
    gap: 30px;
    padding: 15px 15px 20px;    
    align-items: center;
    list-style: none;       
}